* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
    width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #111;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  height: 40px;
  object-fit: contain;
}

.center {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  max-width: 500px;
  margin: 0 16px;
}

.searchBar {
  flex: 1;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #666;
  background-color: #000;
  color: white;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

.searchBar:focus {
  border-color: #fff;
}

.searchBtn {
  background-color: #222;
  color: white;
  border: none;
 
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.searchBtn:hover {
  background-color: #444;
}

.userFoto {
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .center {
    max-width: none;
    flex: 1;
  }

  .searchBar {
    width: 100%;
  }

  .searchBtn {
    width: 32px;
    height: 32px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #333;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}

.cartIcon {
  position: relative;
  font-size: 1.3rem;
  color: white;
  margin-right: 16px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: #ff5e5e;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px; /* espacio entre el carrito y la imagen */
}

.totalBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #ffffff20; 
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
}

.totalPrice {
  color: #00ff88; 
  font-size: 1.1rem;
}

